:root {
	--very-dark-gray: #2b2b2b;
	--dark-gray: #969696;
	--dark: #000;
	--white: #fff;
}

html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	/* background-color: #969696; */
}

.page-header {
	display: grid;
	height: 100vh;
	grid-template-areas:
		'. title .'
		'. input .'
		'. data .'
		'. data .'
		'. . .';
	grid-template-columns: minmax(24px, 1fr) minmax(auto, 1110px) minmax(24px, 1fr);
	grid-template-rows: repeat(4, auto) 1fr;

	.title {
		grid-area: title;
		text-align: center;
		font-size: 26px;
		font-weight: 500;
		color: var(--white);
		padding-top: 26px;
		padding-bottom: 30px;
	}

	.form-control {
		grid-area: input;
		display: flex;
		justify-self: center;
		max-width: 555px;
		width: 100%;
		padding-bottom: 24px;

		input {
			width: 82%;
			padding: 18px 24px;
			border-radius: 15px 0 0 15px;
			font-size: 18px;
			border: unset;
			outline: none;
		}

		button {
			border-radius: 0 15px 15px 0;
			background-color: var(--dark);
			border: unset;
			color: var(--white);
			cursor: pointer;
			font-size: 12px;
			width: 18%;

			&:focus {
				background-color: var(--very-dark-gray);
			}
		}
	}

	.background {
		grid-column: 1 / -1;
		grid-row: 1 / -3;
		background-image: url('../images/pattern-bg.png');
		background-size: cover;
		z-index: -1;
		justify-self: normal;
	}
}

.ip-data {
	grid-area: data;
	display: flex;
	background-color: var(--white);
	flex-direction: column;
	gap: 24px;
	padding: 26px 24px;
	border-radius: 15px;

	.field {
		text-align: center;
	}

	.key {
		font-weight: 900;
		color: var(--dark-gray);
		font-size: 10px;
		margin-bottom: 8px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}

	.value {
		font-size: 20px;
		color: var(--very-dark-gray);
		font-weight: 500;
	}

	.field-divider {
		display: none;
	}
}

#map {
	grid-column: 1 / -1;
	grid-row: 4 / 6;
	z-index: -1;
}
